<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>SuperApp</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb839500603256184</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>circlecueapp</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.circlecueinc.circlecue1172</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.circlecueinc.circlecue1172</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.720173785872-qoo16s9miclj0n0enhqfmieg0n2hfovq</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>FacebookAppID</key>
	<string>839500603256184</string>
	<key>FacebookDisplayName</key>
	<string>CircleCue</string>
	<key>GIDClientID</key>
	<string>720173785872-qoo16s9miclj0n0enhqfmieg0n2hfovq.apps.googleusercontent.com</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>tel</string>
		<string>http</string>
		<string>https</string>
		<string>fbauth2</string>
		<string>googlechromes</string>
		<string>comgooglemaps</string>
		<string>fbapi</string>
		<string>fbapi20130214</string>
		<string>fbapi20130410</string>
		<string>fbapi20130702</string>
		<string>fbapi20131010</string>
		<string>fbapi20131219</string>
		<string>fbapi20140410</string>
		<string>fbapi20140116</string>
		<string>fbapi20150313</string>
		<string>fbapi20150629</string>
		<string>fbapi20160328</string>
		<string>fbauth</string>
		<string>fb-messenger-share-api</string>
		<string>fbshareextension</string>
		<string>instagram</string>
		<string>fb</string>
		<string>facebook</string>
		<string>whatsapp</string>
		<string>skype</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>This app wants to access your photo library to pick a profile picture for user.</string>
	<key>NSCameraUsageDescription</key>
	<string>This app wants to access your camera to take a profile picture for user.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Turning on location services allow us to show you when other CircleCue users are nearby.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Turning on location services allow us to show you when other CircleCue users are nearby.</string>
	<key>NSLocationUsageDescription</key>
	<string>Turning on location services allow us to show you when other CircleCue users are nearby.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Turning on location services allow us to show you when other CircleCue users are nearby.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>This app wants to access your photo microphone to record a video.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>This app wants to access your photo library to save a resume/photo.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app wants to access your photo library to pick a profile picture for user.</string>
	<key>UIAppFonts</key>
	<array>
		<string>MyriadPro-Bold.ttf</string>
		<string>MyriadPro-It.ttf</string>
		<string>MyriadPro-Regular.ttf</string>
		<string>MyriadPro-Light.otf</string>
		<string>MyriadPro-SemiBold.otf</string>
		<string>MyriadPro-SemiBoldItalic.otf</string>
		<string>MyriadPro-BoldItalic.otf</string>
		<string>Poppins-Medium.ttf</string>
	</array>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>AuthenticationStoryboard</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDarkContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
</dict>
</plist>
